<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trip Planner</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>

  <header id="mainHeader" class="display-flex justify-space-between align-center p-2">
    <h1>
      <h1 class="m5">Trip Planner</h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li>Contact Us</li>
          {{#if logged_in}}
          <a href="/dashboard">profile</a>
          <button class="btn btn-primary" type="submit" id="logout">logout</button>
          {{else}}
          <a href="/login">login</a>
          {{/if}}
        </ul>
      </nav>


      {{!-- <ul>


        <li><a href="/">Home</a></li>
        <li>Contact Us</li>

        {{#if logged_in}}
        <a href="/dashboard">profile</a>
        <button class="btn btn-primary" type="submit" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}

      </ul> --}}
      {{!-- </nav> --}}
  </header>

    <div id="mainSidebar" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 90vh; position: fixed">
  
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item border border-primary rounded " >
        <a id="homeLink" href="/" class="nav-link text-white" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          Home
        </a>
      </li>
      <li class="nav-item border border-primary mt-2 rounded">
        <a  href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Search
        </a>
      </li>
      <li class="nav-item border border-primary mt-2 rounded">
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          Featured Springs
        </a>
      </li>
      <li class="nav-item border border-primary mt-2 rounded">
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          My Favorites
        </a>
      </li>
      
    </ul>
    <hr>
   
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>


  
  <main>
  <video autoplay muted loop id="myVideo">
    <source src="assets/videos/waters-moving.mp4" type="video/mp4">
  </video>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </div>
    <div class="bodyCss">
      {{{body}}}
    </div>
  </main>
<script src="/js/main.js"></script>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>



</html>