<link rel="stylesheet" href="/static/css/amenity.css">
<section class="row mainSection justify-content-center">
    
    <section class="col-lg-3" id="infoColumn">
        <h1 class = "h1">{{displayAmenity.amenityTitle}}</h1>
        <h2 class="h5">{{displayAmenity.amenityDescription}}</h2>
    </section>

    <section class="imageSection col-lg-6 ">
        <img src={{mainImage.mediaURL}} alt="">
    </section>

</section>