<section class="cards d-flex flex-column p-3 justify-content-center ">

  <div class="card w-50 mx-auto">
    <div class="card-body">
      <h5 class="card-title text-center">Ichetucknee Spring</h5>
      <p class="card-text">The Ichetucknee River is a spring-fed, pristine river in North Central Florida. The entire 6
        miles of the river average 20 feet wide, 5 feet deep and most of the 6 miles lie within the boundaries of the
        Ichetucknee Springs State Park while the rest is to the south of US Highway 27</p>
    </div>
    <a href="/spring/1">
      <img src="/assets/images/Ichetucknee.jpg" class="card-img-bottom" alt="...">
    </a>
  </div>

  <div class="card w-50 mx-auto">
    <div class="card-body">
      <h5 class="card-title text-center">Blue Spring</h5>
      <p class="card-text">Blue Spring State Park is a state park located west of Orange City, Florida, in the United
        States. The park is a popular tourist destination; available activities include canoeing, SCUBA diving,
        kayaking, fishing, camping, hiking, wildlife watching, and swimming.</p>
    </div>
    <a href="/spring/2">
      <img src="/assets/images/Blue-Springs.jpg" class="card-img-bottom" alt="...">
    </a>
  </div>

  <div class="card w-50 mx-auto">
    <div class="card-body">
      <h5 class="card-title text-center">De Leon Springs</h5>
      <p class="card-text">De Leon Springs State Park draws big crowds for its unique make-your-own-pancake restaurant
        with griddle top tables, set inside a historic sugar mill. It's set up for swimming, snorkeling, and scuba
        diving in a cool natural pool.</p>
    </div>
    <a href="/spring/3">
      <img src="/assets/images/de-leon.jpg" class="card-img-bottom" alt="...">
    </a>
  </div>

</section>