<link rel="stylesheet" href="/css/homepage.css">


<section class="body-wrapper row">
 
 <section class="cardGallery  col-lg-12 bg-transparent justify-content-center row">


{{#each top5}}

<div class=" card mt-3 m-md-3 col-xl-4 col-lg-6 col-md-8 col-sm-10 homeCard ">
  <img src= {{this.URL}} class="card-img-top" alt="Fissure in Sandstone"/>
  <div class="card-body">
    <h5 class="card-title">{{this.springName}}</h5>
    <p class="card-text overflow.auto ">{{this.springDescription}}</p>
    <a href="/floridasprings/spring/{{this.springID}}" class="btn btn-primary">Check out the spring!</a>
  </div>
</div>


{{/each}}






 </section>
<!-- Carousel wrapper -->
</section>




{{!-- 
 <div class="card w-50 mx-auto">
    <div class="card-body">
      <h5 class="card-title text-center">Ichetucknee Spring</h5>
      <p class="card-text">The Ichetucknee River is a spring-fed, pristine river in North Central Florida. The entire 6
        miles of the river average 20 feet wide, 5 feet deep and most of the 6 miles lie within the boundaries of the
        Ichetucknee Springs State Park while the rest is to the south of US Highway 27</p>
    </div>
    <a href="/floridasprings/spring/7">
      <img src="/assets/images/Ichetucknee.jpg" class="card-img-bottom" alt="...">
    </a>
  </div>

  <div class="card w-50 mx-auto">
    <div class="card-body">
      <h5 class="card-title text-center">Blue Spring</h5>
      <p class="card-text">Blue Spring State Park is a state park located west of Orange City, Florida, in the United
        States. The park is a popular tourist destination; available activities include canoeing, SCUBA diving,
        kayaking, fishing, camping, hiking, wildlife watching, and swimming.</p>
    </div>
    <a href="floridasprings/spring/2">
      <img src="/assets/images/Blue-Springs.jpg" class="card-img-bottom" alt="...">
    </a>
  </div>

  <div class="card w-50 mx-auto">
    <div class="card-body">
      <h5 class="card-title text-center">Ginnie Springs</h5>
      <p class="card-text">Ginnie Springs is a privately owned park in Gilchrist County about 6.5 miles northwest of High Springs, Florida, USA. It is located on the south side of the Santa Fe River, to which it is connected. The water is clear and cold and there are accessible caverns with a sand and limestone bottom.</p>
    </div>
    <a href="floridasprings/spring/1">
      <img src="/assets/images/ginnie-springs.jpg" class="card-img-bottom" alt="...">
    </a>
  </div> --}}