<link rel="stylesheet" href="css/login.css">

<div class="row">
  <div class="col-md-6">
 

    <section class="mainContent">
        <div class="loginSection">
            <h1>
                Sign Up
            </h1>
            <div id="usernameDiv">
                <h2>Username</h2>
                <input type="text">
            </div>
            <div id="passwordDiv">
                <h2>Password</h2>
                <input type="text">
            </div>
            <a href="/register">No account yet? Click here to register</a>
        </div>
    </section>
    
</div>
