<link rel="stylesheet" href="css/register.css">
<div class="loginSection">
    <h1>
        Register a new user
    </h1>
    <div id="usernameDiv">
        <h2>Username</h2>
        <input type="text">
    </div>
    <div id="passwordDiv">
        <h2>Password</h2>
        <input type="text">
    </div>
    <button id="btnAddUser">Add User</button>
    <a href="/login">Already a user? Click here to log in</a>
</div>



<script src="js/register.js"></script>