<link rel="stylesheet" href="/css/searchResults.css">

<section id="cardGallery row">


  
{{#each finalResults}}

<!-- Rotating card -->
<div class="card-wrapper col-lg-3 col-md-6 col-sm-12">
  <div id="card-1" class="card card-rotating text-center">

    <!-- Front Side -->
    <div class="face front">

      <!-- Image-->
      <div class="card-up">
        <img class="card-img-top" src={{this.URL}} alt="Image with a photo of clouds.">
      </div>

      <!-- Avatar -->
     

      <!-- Content -->
      <div class="card-body">
        <h4 class="font-weight-bold mb-3">{{this.springName}}</h4>
        <p class="font-weight-bold blue-text">{{this.springDescription}}</p>
        <!-- Triggering button -->
        <a href="/spring/{{this.springID}}" class="btn btn-primary">Check it out!</a>

      </div>
    </div>
    <!-- Front Side -->

    <!-- Back Side -->
    <div class="face back">
      <div class="card-body">

        <!-- Content -->


      </div>
    </div>
    <!-- Back Side -->

  </div>
</div>
<!-- Rotating card -->



{{/each}}



</section>
