.individualSpring {
    /* margin-left: 40vw;
    width: 70%;
    height: 100%;
    position: fixed;
    top: 30.5vw;
    right: 70px;
    transform: translateY(-50%); */

    /* margin-top:50px; */
    position: absolute;
    top: calc(50% + 70px); /* 50% + (header height / 2) */
    left: calc(50% + 60px);/* 50% + (280px / 2) */
    transform: translate(-50%, -50%);
    width: 80%;
    height: 98%;
    background-color: rgb(255, 255, 255, 0.8);
    line-height: 0.5;
}

p {
    font-family: 'Times New Roman', 'Georgia', 'Garamond'
}

/* .overview {
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    color: black;
} */

textarea {
    /* margin: 10px;
    margin-left: 20px;
    overflow: auto;
    width: 80%;
    height: 150px;
    text-align: center; */
    line-height: 1.5;

}

/*.icons {
    margin-left: 40px;
}*/

.text2{
    font-family: 'Cormorant Garamond', serif;
    color: black;
    font-weight: bold;
    font-size: x-large;
}

#player {
    left: 5px;
}

.amenities {
    background-color: #f00;
    border: black solid 2px;
}

/* .reviews {
    border: black solid 2px;
    display: flex;
    flex-direction: column;
} */

#springID {
    display: none
}

#reviewGallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center !important;
    gap: 5%;

}

#reviewGallery img {
    width: 100%;
}

#reviewGallery .card {

    flex: 0 0 24%;
    max-height: 10%;
    line-height: 1.5;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 50px;
    color: white;
    height: 5vh;
}

@media screen and (max-width: 768px) {
    .firstBlock,
    .secondBlock {
        flex-direction: column;
    }
    .card-img-top {
        width: 50%;
        height: 50%;
    }

}